services:
  portfolio:
    image: portfolio:v1.0
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    ports:
      - "8080:3000"
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/app
      - /app/node_modules
    networks:
      - portfolio_network

networks:
  portfolio_network:
    driver: bridge